*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;
  background: #ccc;
  font-size: 30px;
  font-weight: 600;
}

/* Common */
.section-heading {
  color: #080415;

  text-align: center;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.1785;
  letter-spacing: -2.24px;
}

.section-desc {
  margin-top: 20px;
  color: #51586a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

a {
  text-decoration: none;
}

.btn {
  --height: 60px;
  min-width: 170px;
  height: var(--height);
  line-height: var(--height);
  display: inline-block;
  text-align: center;
  background: #5d3bee;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  transition: box-shadow 400ms;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Header  */
.header {
  padding-top: 45px;
  padding-bottom: 11px;
  background-color: #fbfaff;
}
.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  margin-right: -21.5px;
}

.navbar-link {
  display: inline-block;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  transition: text-shadow 400ms;
  padding: 10px 21.5px;
}

.navbar-link:hover {
  text-shadow: 0.9px 0 0 currentColor;
}

.navbar-list li:first-child .navbar-link {
  padding-left: 0;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.contact-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-icon__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #5d3bee33;
}

.contact-email {
  position: relative;
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: underline;
}

/* Hero */
.hero {
  position: relative;
  padding-top: 60px;
  background-color: #fbfaff;
}

.hero__img {
  position: relative;
  z-index: 1;
  width: 514px;
  height: 705px;
  display: block;
}

.hero__heading {
  margin-top: 137px;
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.95;
  letter-spacing: -3.2px;
}

.hero__desc {
  margin-top: 20px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero__actions {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.hero__link {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  margin-left: 30px;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
}

.hero__link::after,
.project__item-cta::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 1.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease;
}

.hero__link:hover::after,
.project__item-cta:hover::after {
  transform: scaleX(1);
}

.hero__social-media {
  margin-top: 104px;
  display: flex;
  align-items: center;
}

.social-title {
  margin-right: 15px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.875;
}

.social__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #0804151a;
  color: #080415;
  transition: background-color 0.5s ease;
}

.hero__social-media a:first-of-type .social__item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: linear-gradient(45deg, #007cf0, #00dfd8);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.hero__social-media a:last-of-type .social__item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.social__icon {
  z-index: 2;
}

.social__item:hover .social__icon path {
  fill: #fff;
  stroke: #fff;
}

.hero__social-media a:first-of-type:hover .social__item::before {
  opacity: 1;
}

.hero__social-media a:last-of-type:hover .social__item::before {
  opacity: 1;
}

.hero__social-media a:nth-of-type(2) .social__item:hover {
  background-color: #ea4c89;
}

.social__item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hero__decor-img-01,
.hero__decor-img-02 {
  position: absolute;
  bottom: 0;
}

.hero__decor-img-01 {
  left: 0;
}

.hero__decor-img-02 {
  right: 0;
}

/* Clients  */
.clients {
  margin-top: 100px;
}

.clients__title {
  position: relative;
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -1.68px;
}

.clients__title::before {
  position: absolute;
  top: 22px;
  left: -99px;
  display: inline-block;
  content: "";
  width: 86px;
  height: 2px;
  background-color: #5d3bee;
}

.client__list {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 68px 1fr 66px 1fr 36px 1fr;

  align-items: center;
  row-gap: 36px;
}

.client__item1 {
  grid-column: 1;
}
.client__item2 {
  grid-column: 3;
}
.client__item3 {
  grid-column: 5;
}
.client__item4 {
  grid-column: 7;
}

.client__item5 {
  grid-column: 1;
  grid-row: 2;
}
.client__item6 {
  grid-column: 3;
  grid-row: 2;
}
.client__item7 {
  grid-column: 5;
  grid-row: 2;
}
.client__item8 {
  grid-column: 7;
  grid-row: 2;
}

/* Specialities */
.special {
  margin-top: 140px;
}

.special__list {
  margin-top: 60px;
}

.special-item__box {
  background: #fbfaff;
  padding: 33px 25px 32px 43px;
  height: 100%;
}

.special-item__title {
  display: inline-block;
  margin-top: 22px;
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

.special-item__desc {
  margin-top: 15px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

/* My Projects  */
.project {
  margin-top: 140px;
  padding: 86px 0;
  background-color: #5d3bee;
}

.project__info {
  display: flex;
  align-items: center;
}

.project__heading,
.project__desc {
  text-align: left;
  color: #fff;
}

.project__list {
  margin-top: 70px;
}

.project__list2 {
  margin-top: 30px;
}

.project__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfaff;
  padding: 24px 23px 23px 34px;
}

.project__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project__img {
  position: relative;
  z-index: 2;
  width: 246px;
  height: 187px;
  object-fit: cover;
}

.project__title {
  display: inline-block;
  margin-top: 20px;
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

.project__item-desc {
  margin-top: 10px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.44;
}

.project__item-cta {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  margin-top: 20px;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
}

.project__cta {
  margin-top: 96px;
  background-color: #fff;
  color: #080415;
}

.project__cta:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -30px 16px -18px inset;
}

.project__decor {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* About  */
.about {
  margin-top: 140px;
}

.about__hello {
  text-align: center;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

.about__hello::after {
  display: inline-block;
  content: url(../icon/hello-icon.svg);
  vertical-align: middle;
  padding-left: 9px;
}

.about__heading {
  margin-top: 10px;
}

.stats__inner {
  padding: 0 13.5px;
}

.stats__list {
  margin-top: 70px;
  padding: 20px 0;
  border-top: 1px solid #08041533;
  border-bottom: 1px solid #08041533;
}

.stats__number {
  position: relative;
  display: inline-block;
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  letter-spacing: 1.68px;
  padding-bottom: 1px;
}

.stats__number::after {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  right: 0;
  bottom: 1.5px;
  height: 3px;
  background-color: #080415;
}

.stats__label {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

/* Video  */
.video {
  margin-top: 70px;
  background: linear-gradient(to bottom, white 0 48%, #fbfaff 48% 100%);
}

.video__inner {
  position: relative;
}

.video__bg {
  display: block;
  width: 100%;
  height: auto;
}

.video_play,
.intro-video__btn {
  position: absolute;
  z-index: 2;
}

.video_play {
  cursor: pointer;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: none;
  outline: none;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: background-color 400ms;
}

.video_play:hover {
  background-color: #5d3bee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.video_play:hover svg path {
  fill: #fff;
  stroke: #fff;
}

.intro-video__btn {
  display: block;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  color: #51586a;
}

.intro-video__btn:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #51586a;
  color: #fff;
}

/* Feedback  */
.feedback {
  position: relative;
  padding-top: 150px;
  padding-bottom: 74px;
  background-color: #fbfaff;
  overflow: hidden;
}

.feedback__inner {
  margin-top: 60px;
}

.feedback__list {
  display: flex;
  overflow: hidden;
}

.feedback__item {
  width: 100%;
  flex-shrink: 0;
}

.feedback-item__quote {
  color: #51586a;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.67;
  text-align: center;
}

.row-gutter-74 {
  --spacer: 74px;
}

.user-info {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 15.17px;
  align-items: center;
}

.user__avt-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 39.833px;
  height: 39.833px;
  border-radius: 50%;
  background-color: #f29764;
  overflow: hidden;
}

.user__avt {
  width: 100%;
}

.user__name {
  color: #080415;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.33;
}

.user__profession {
  text-align: center;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.81;
}

.feedback__dots {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.feedback__dot {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #08041533;
}

.feedback__dot.active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #5d3bee;
  outline: 2px solid #6236ff;
  outline-offset: 3px;
}

.feedback__decor {
  position: absolute;
}

.feedback__decor1 {
  left: 0;
  bottom: 0;
}

.feedback__decor2 {
  bottom: 0;
  right: 0;
}

.question__heading {
  text-align: left;
}

/* Question  */

.question {
  margin-top: 95px;
}

.question__heading {
  margin-right: 10px;
  letter-spacing: -2.24px;
}

.question__list {
  margin-top: 80px;
}

.question__item {
  cursor: pointer;
  margin-bottom: 60px;
  padding-bottom: 21px;
  border-bottom: 2px solid #08182f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__info {
  padding-left: 22px;
}

.question__title {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

.question__item.active .question__title {
  color: #5d3bee;
}

.question__desc {
  margin-top: 23px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  width: 487px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.question__view-btn {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  border: 2px solid #161a1c33;
  margin-bottom: -35px;
}

.question__view-btn::after {
  content: url(../icon/plus-icon.svg);
  position: absolute;
  top: 17px;
  left: 17px;
}

.question__item.active .question__view-btn {
  margin-bottom: 0;
}

.question__item.active .question__view-btn::after {
  content: url(../icon/close.brn.svg);
  position: absolute;
  top: 15px;
  left: 16px;
}
